<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <strong><title>GDP per Capita Bar Race Chart</title></strong>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    .col-md-9{
        padding: 100px
    }
    </style>
</head>
<body>
        

    <div class="col-md-9 text-center" style="float:none;margin:auto;">
        <div class="flourish-embed" data-src="visualisation/447637"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
     </div>
   
</body>
</html>
